# Clerk (get these from https://dashboard.clerk.com)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_
CLERK_SECRET_KEY=sk_test_
CLERK_WEBHOOK_SECRET=whsec_test_placeholder
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard
CLERK_JWT_ISSUER_DOMAIN=https://lorem-ipsum-123.clerk.accounts.dev

# Convex (get this from https://dashboard.convex.dev)
NEXT_PUBLIC_CONVEX_URL=https://lorem-ipsum-123.convex.cloud



# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:lorem-ipsum-123 # team: vinicius-reis, project: test

NEXT_PUBLIC_CONVEX_SITE_URL=https://lorem-ipsum-123.convex.site
